.wrapper{
  margin:0 auto;
  width:350px;
  text-align:center;
}

.philipsLabel{
  color:rgba(25,36,79,1);
  margin:25px;
  font-size:33px;
}

.underlined{
  border-bottom:1px solid #C3C7D8;
  /*background-color:#EAE9FA*/
}

.philipsAlert{
  color:red;
  font-size:11px;
  background-color:#EEF1F1;
  float:left;
}

.alignLeft{
  float: left;
  margin-left: 20px;
  clear:left;
  color:rgba(25,36,79,1);
}

.loginSignUpLabel{
  margin-top:25px;float:left
}
