.wrapper{
  margin:0 auto;
  width:350px;
  text-align:center;
  border:1px solid #F2F4F5;
}

.philipsLabel{
  color:rgba(25,36,79,1)
}

.underlined{
  border-bottom:1px solid #C3C7D8;
  /*background-color:#EAE9FA*/
}


.philipsAlert{
  color:red;
  font-size:11px;
  background-color:#EEF1F1;
  float:left;
}

.alignLeft{
  float: left;
  margin-left: 20px;
  clear:left;
}
