.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}


.top_header:{
    z-index: 1;
    width: 100%;
    background: #000000;
    background: -moz-linear-gradient(left, rgba(25,36,79,1) 24%,rgba(42,99,174,1) 100%);
    background: -webkit-linear-gradient(left, rgba(25,36,79,1) 24%,rgba(42,99,174,1) 100%);
    background: -ms-linear-gradient(left, rgba(25,36,79,1) 24%,rgba(42,99,174,1) 100%);
    background: linear-gradient(left, rgba(25,36,79,1) 24%,rgba(42,99,174,1) 100%);
    vertical-align: middle;
    line-height: 30px;
    color:red;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

.top_header{
    z-index: 1;
    width: 100%;
    background: #000000;
    background: -moz-linear-gradient(left, rgba(25,36,79,1) 24%,rgba(42,99,174,1) 100%);
    background: -webkit-linear-gradient(left, rgba(25,36,79,1) 24%,rgba(42,99,174,1) 100%);
    background: -ms-linear-gradient(left, rgba(25,36,79,1) 24%,rgba(42,99,174,1) 100%);
    background: linear-gradient(left, rgba(25,36,79,1) 24%,rgba(42,99,174,1) 100%);
    vertical-align: middle;
    /*line-height: 30px;*/
    height:50px;
}

div span {
    display: inline-block;
    /*font-style: url('CentraleSans/CentraleSans-Book.eot'); */
    font-size:18px;
    /*font-family: 'CentraleSans';*/
    color:#dddfdd;
    padding-left:45px;
    vertical-align:middle;
    height:34px;
    padding-top:12px;
}



.viewHeader{
  background: #4f4d48;
  background: -moz-linear-gradient(top, #4f4d48 0%, #363431 100%);
  background-image:linear-gradient(90deg,rgba(25,36,79,1) 24%,rgba(42,99,174,1) 100%);
  background-image:-webkit-linear-gradient(90deg,rgba(25,36,79,1) 24%,rgba(42,99,174,1) 100%);
  background-image:-o-linear-gradient(90deg,rgba(25,36,79,1) 24%,rgba(42,99,174,1) 100%);
  -webkit-background-size: 40px 40px;
  box-shadow: none;
  -webkit-box-shadow: none;
  height:45px;
}


@font-face
{
    font-family: 'CentraleSans';
    src: url('CentraleSans/CentraleSans-Book.eot'); /* IE9 Compat Modes */
    src: url('CentraleSans/CentraleSans-Book.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('CentraleSans/CentraleSans-Book.woff') format('woff'), /* Modern Browsers */
    url('CentraleSans/CentraleSans-Book.ttf') format('truetype'), /* Safari, Android, iOS */
    url('CentraleSans/CentraleSans-Book.svg#1d84a514a13dcf4f9de78cc3753dbf03') format('svg'); /* Legacy iOS */
}

.btn-primary .philipsBtn:{
  background-color:#66a6ff;
}
.philipsHeader
{
    /*position: fixed;*/
    z-index: 1;
    width: 100%;
    /*background: #000000;
    background: -moz-linear-gradient(left, rgba(25,36,79,1) 24%,rgba(42,99,174,1) 100%) !important;
    background: -webkit-linear-gradient(left, rgba(25,36,79,1) 24%,rgba(42,99,174,1) 100%) !important;
    background: -ms-linear-gradient(left, rgba(25,36,79,1) 24%,rgba(42,99,174,1) 100%) !important;
    background: linear-gradient(left, rgba(25,36,79,1) 24%,rgba(42,99,174,1) 100%) !important;*/
    vertical-align: middle;
}

header div
{
    display: inline-block;
    font-style: url('CentraleSans/CentraleSans-Book.eot');
    font-size:18px;
    font-family: 'CentraleSans';
    color:#dddfdd;
    padding-left:45px;
    vertical-align:middle;
    height:34px;
    padding-top:12px;
}

.headerNavBar
{
   /* color: #f1f1f1;
    display: inline-block;
    width: 35%;
    text-align: right;*/
    font-family: 'CentraleSans';
    font-style: url('CentraleSans/CentraleSans-Book.eot');
    font-size:16px;
     display: inline-block;
     text-align: center;
     padding-bottom:9px;
}

.headerNavBar a
{
    color: #d0d2d1;
    text-decoration: none;
    font-size: 0.8em;
    margin-right: 2%;
    padding-bottom: 12px;
    cursor:pointer;
}

.headerNavBar a:hover
{
    color: #fff;
    border-bottom: 6px solid #3975ba;
    padding-bottom: 12px;
}

.headerNavBar ul > li
{
    color: #d0d2d1;
    text-decoration: none;
    font-size: 0.8em;
    margin-right: 5%;
    padding-bottom: 12px;
    cursor: pointer;
}

.headerNavBar ul > li:hover
{
    color: #fff;
    border-bottom: 6px solid #3975ba;
    padding-bottom: 12px;
}


header ul.userMenu
{
    color: #f1f1f1;
    font-size: 0.8em;
    display: inline-block;
    text-align: right;
    width: 15%;
    float: right;
    /*padding-left: 15px;
        padding-right: 15px;*/
}

header ul.userMenu > li
{
    display: inline-block;
    list-style: none;
    margin-right: 20%;
}

header ul.userMenu a
{
    color: #d0d2d1;
    text-decoration: none;
}

header ul.userMenu > li:hover a
{
    color: #fff;
}

footer
{
    height: 30px;
    width: 100%;
    padding: 0px;
    background-color: black;
    text-align:center;
    font-family:Calibri;
    font-size:0.6em;
    color:white;
}

footer .fullHeight
{
    height: 30px;
    display: inline-block;
}

.logo
{
    display: inline-block;
   /* padding-left: 40px;*/
    vertical-align: middle;
   /*  width: 2%;*/
    min-width: 100px;
}

.logo img
{
    vertical-align: middle;
    display: inline-block;
    width: 81px;
    color:#ffffff;
    padding-left: 10px;
}

.PopupHeader
{
    /*position: fixed;*/
    z-index: 1;
    width: 100%;
    background: #000000;
    background: -moz-linear-gradient(left, rgba(25,36,79,1) 24%,rgba(42,99,174,1) 100%);
    background: -webkit-linear-gradient(left, rgba(25,36,79,1) 24%,rgba(42,99,174,1) 100%);
    background: -ms-linear-gradient(left, rgba(25,36,79,1) 24%,rgba(42,99,174,1) 100%);
    background: linear-gradient(left, rgba(25,36,79,1) 24%,rgba(42,99,174,1) 100%);
    vertical-align: middle;
    border-bottom: solid 2px #ADADAD;
    color: white;
}







