<div  ng-controller="LoginCtrl as lc"  class="wrapper">
    <form class="form-signin" name='lgnForm' novalidate>
      <h2 class="form-signin-heading philipsLabel">Account Login</h2>
      <a class="underlined"></a>
      <input type="text" ng-model="lc.username" class="form-control" name="username" placeholder="User Id" required="" autofocus="" />
        <div ng-show="lgnForm.$submitted || lgnForm.username.$touched" class="help-block">
      	  <div class = "philipsAlert" ng-show='lgnForm.username.$error.required && lgnForm.username.$touched'>Enter Valid Name</div>
        </div>
      <div style="height:3px"></div>
      <input ng-model= "lc.password" type="password" class="form-control" name="password" placeholder="Password" required=""/>
        <div ng-show="lgnForm.$submitted || lgnForm.password.$touched" class="help-block">
            <div class="philipsAlert" ng-show='lgnForm.password.$error.required'> Password cannot be empty</div>
        </div>
      <label class="checkbox alignLeft" >
        <input type="checkbox" value="remember-me" id="rememberMe" name="rememberMe" ng-model="lc.rememberMe"> Remember me
      </label>
      <button ng-click="formSubmit()" class="btn btn-lg btn-primary btn-block philipsBtn" ng-disabled='lgnForm.$invalid' >Login</button>
      <label class="loginSignUpLabel">
        <h5>Don't have account Yet?<a href="" ng-click="userSignUp()">Sign up</a></h5>
      </label>
    </form>
</div>
l
